<div class="container content background-content registration">
  <div class="row">
    <h3>Cadastro de Profissionais</h3>

    <ul>
      <% format_errors(@professional).each do |m| %>
        <li class="message error"><%= m %></li>
      <% end %>
    </ul>

    <%= form_for @professional, url: professionals_path(@professional) do |f| %>
      <label>Nome</label>
      <%= f.text_field :name,
        name: "professional[name]",
        placeholder: "Ex. João da Silva",
        class: "u-full-width" %>

      <label>E-mail</label>
      <%= f.text_field :email,
        name: "professional[email]",
        placeholder: "Ex. joao@gmail.com",
        class: "u-full-width" %>

      <label>Telefone</label>
      <%= f.text_field :phone,
        name: "professional[phone]",
        placeholder: "Ex. 0000000000",
        class: "u-full-width" %>

      <label>Endereço</label>
      <%= f.text_field :address,
        name: "professional[address]",
        placeholder: "Ex. Rua 9 de julho, Vila Madalena, São Paulo - SP",
        class: "u-full-width" %>

      <label>Você é um profissional do tipo</label>
      <%= f.radio_button "type",
        "IndependentProfessional",
        name: "professional[type]",
        checked: @professional.type == "IndependentProfessional" %>
      Sou um profissional liberal
      <%= f.radio_button "type",
        "LegalPerson",
        name: "professional[type]",
        checked: @professional.type == "LegalPerson" %>
      Sou uma pessoa jurídica

      <div class="independent_professional">
        <label>CRMV</label>
        <%= f.text_field :crmv,
          name: "professional[crmv]",
          placeholder: "Ex. 12345",
          class: "u-full-width" %>
      </div>

      <div class="legal_person">
        <label>CNPJ</label>
        <%= f.text_field :cnpj,
          name: "professional[cnpj]",
          placeholder: "Ex. 78.425.986/0036-15",
          class: "u-full-width" %>
      </div>

      <div class="row">
        <%= f.submit "Cadastrar", class: "button-primary" %>
      </div>
    <% end %>
  </div>
</div>
