<div class="container content background-content registration">
  <div class="row">
    <h3>Profissional</h3>

    <ul>
      <li>Nome: <%= @professional.name %></li>
      <li>E-mail: <%= @professional.email %></li>
      <li>Telefone: <%= @professional.phone %></li>
      <li>Endereço: <%= @professional.address %></li>
      <li>Documento: <%= @professional.document %></li>
    </ul>
  </div>
</div>
