/* line 1, /home/givigier/Apps/professional_management/app/assets/stylesheets/general.css.scss */
.container {
  width: 50%;
}

/* line 5, /home/givigier/Apps/professional_management/app/assets/stylesheets/general.css.scss */
.background-primary {
  background-color: rgba(30, 174, 219, 0.18);
}

/* line 9, /home/givigier/Apps/professional_management/app/assets/stylesheets/general.css.scss */
.content {
  border-radius: 5px;
  padding: 40px;
}
/* line 13, /home/givigier/Apps/professional_management/app/assets/stylesheets/general.css.scss */
.content.background-content {
  background-color: #ffffff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

