<!DOCTYPE html>
<html>
  <head>
    <title>ProfessionalManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css',
      'application',
      media: 'all',
      'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background-primary">
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
